:root {
    --brown: #3D262A;
    --green: #127C56;
    --yellow: #EAB64D;
    --white: #ECF3F6;
}

* {
    font-family: 'Raleway', sans-serif;
}

.bg-green {
    background-color: var(--green);
}

.ft-white {
    color: var(--white);
}

.ft-green {
    color: var(--green);
}

.bg-brown {
    background-color: var(--brown);
}

.ft-brown {
    color: var(--brown);
}

.bg-yellow {
    background-color: var(--yellow);
}

.ft-yellow {
    color: var(--yellow);
}

.enough-height {
    min-height: 100vh;
}

nav, footer, .bg-gradient-green {
    background: rgb(18,124,86);
    background: linear-gradient(318deg, rgba(18,124,86,1) 0%, rgba(31,183,129,1) 100%);
}

.sidebar .nav-item a.nav-link {
    color: var(--white) !important;
    font-size: 0.8rem;
}

.sidebar .nav-item .nav-link.active {
    color: var(--brown) !important;
    background-color: var(--white) !important;
    font-weight: bolder;
}

.page-link {
    color: var(--green);
}

.progress-bar-step {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.progress-bar-step .step {
    width: 40px;
    height: 40px;
    background: #e9ecef;
    color: #6c757d;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
}
.progress-bar-step .step.active {
    background: #0d6efd;
    color: white;
}